@import './utils/variables';
@import './utils/body';
@import './utils/img';
@import './utils/container';
@import './utils/icon';
@import './utils/mixins';
@import './utils/visually-hidden';
@import './utils/placeholders';
@import './components/general/logo';
@import './components/general/header';
@import './components/general/menu-container';
@import './components/general/nav';
@import './components/general/contacts';
@import './components/general/social';
@import './components/general/footer';
@import './components/general/contacts-box';
@import './components/general/social-box';
@import './components/general/subscribe-box';
@import './components/main-page/hero';
@import './components/main-page/features';
@import './components/main-page/work';
@import './components/main-page/team';
@import './components/main-page/clients';
@import './components/main-page/backdrop';
@import './components/main-page/modal';
@import './components/main-page/policy';
