.modal {
  position: relative;

  width: 100%;
  height: auto;

  background-color: $mainWhiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 30px;
    height: 30px;

    padding: 7px 9px;
    background-color: $mainWhiteColor;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: color 250ms $timingFunction;

    &:hover,
    &:focus {
      color: $accentColor;
      cursor: pointer;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    padding: 40px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: $mainTextColor;

    @media screen and (min-width: 1200px) {
      font-size: 20px;
      line-height: 1.15;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    position: relative;
  }

  &__label-text {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $secondaryTextColor;
  }

  &__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 11px 11px 11px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus-within {
      outline-color: $accentColor;
    }

    &:focus-within + .modal__input-icon {
      fill: $accentColor;
    }
  }

  &__input-icon {
    position: absolute;
    top: 42%;
    left: 13px;
  }

  &__submit-btn {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 56px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: $mainWhiteColor;
    background-color: $accentColor;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms $timingFunction;

    &:hover,
    &:focus {
      background-color: #0c63aa;
    }
  }
}

.textarea {
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
