.work {
  display: none;

  padding-bottom: 94px;

  @media screen and (min-width: 1200px) {
    display: block;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__list {
    @extend %list;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
  }

  &__overlay-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $mainWhiteColor;
  }
}
