.filter {
  @include flexed(flex, center, unset);
  flex-wrap: wrap;
  @extend %list;

  margin-bottom: 40px;

  @media screen and (max-width: 479px) {
    @include flexed(flex, unset, unset);
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &__item {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: $mainTextColor;
    background-color: $secondaryBgColor;
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: color 250ms $timingFunction,
      background-color 250ms $timingFunction, box-shadow 250ms $timingFunction;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $mainWhiteColor;
      background-color: $accentColor;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
