.projects {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: -30px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__item {
    max-width: 450px;
    height: auto;
    /*   width: 370px;
    height: 404px;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px); */

    border: 1px solid #eeeeee;
    transition: box-shadow 250ms $timingFunction;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      max-width: 354px;

      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc(100% / 2 - 30px);
    }

    @media screen and (min-width: 1200px) {
      max-width: 370px;
      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc(100% / 3 - 30px);
    }

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .projects__thumb::after {
      transform: translateY(0);
      transition: transform 250ms $timingFunction;
    }
    &:hover .projects__thumb-overlay {
      transform: translateY(0);
      transition: transform 250ms $timingFunction;
    }
  }

  &__thumb {
    position: relative;

    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;

      width: 100%;
      height: 100%;

      background-color: rgba(33, 150, 243, 0.9);
      transform: translateY(100%);
      transition: transform 250ms $timingFunction;
    }

    & > img {
      width: 100%;
    }
  }

  &__thumb-overlay {
    @include flexed(flex, center, center);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 294px;
    padding-left: 24px;
    padding-right: 24px;

    transform: translateY(100%);
    transition: transform 250ms $timingFunction;
  }

  &__thumb-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $mainWhiteColor;
  }

  &__item-footer {
    padding: 20px 24px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__name {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $secondaryTextColor;
  }
}
