.contacts-box {
  &__adress {
    display: block;

    margin-top: 20px;
    margin-bottom: 9px;

    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: $mainWhiteColor;
    text-decoration: none;
  }

  &__link {
    display: block;

    margin-bottom: 9px;

    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
}
