.header {
  position: relative;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    padding: 10px 0;
  }

  & > .container {
    @include flexed(flex, space-between, center);
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus > .icon {
    color: $accentColor;
  }

  &__cross {
    display: none;
  }

  &.is-open &__cross {
    display: block;
  }

  &.is-open &__burger {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
