body {
  background-color: $mainWhiteColor;
  color: $mainTextColor;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  &.modal-open {
    overflow: hidden;
  }
}
