$mainTextColor: #212121;
$secondaryTextColor: #757575;
$accentColor: #2196f3;
$mainWhiteColor: #ffffff;
$standartBlack: #000000;
$mainBgColor: #2f303a;
$secondaryBgColor: #f5f4fa;
$socialIconColor: #afb1b8;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
